<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            <link href="{{ asset('build/app.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
    <div id="sidebar">
        {% block sidebar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand">Space Coders</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/"> Initialisation <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ship">Liste des vaisseaux</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/planet">Planets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/ship">Mon vaisseau</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/javascript">JavaScript</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/integration/maquette">Intégration maquettes</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
    </div>
    <div id="content">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        {% block footer %}
            <footer>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link">&copy; {{ 'now'|date('Y') }} - The Symfony Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"href="https://www.facebook.com/groups/426816297967440/" target="_blank">Facebook</a>
                    </li>
                </ul>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </div>
    </body>
</html>